---
layout: default
title: MFI - MFathirIrhas's Blog
---

<body onload="dateTime()">
<p align="right"><strong><span id="txt"></span></strong></p>

<center><h1><b><i>Welcome</i></b></h1></center>
<!-- <img src="public/background.jpg" id="fullscreen"> -->
<center><img src="public/wutsup.gif" id="fullscreen"></center>
<!-- <center><img class="img-circle" src="public/profil.jpg"></center> -->

<center>Muhammad Fathir Irhas &middot; 
  Software Engineer &middot;
  <a href="{{ site.url }}/about">About Me</a></center>
<hr>

<!-- Recent Post -->
<h2>Recent Posts</h2>
<ul>
{% for post in site.posts limit:5 %}
<li>
  <h3><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a>  <smal><small><small>{{post.date | date: '%B %d, %Y'}}</small></small></small></h3>
  {{post.excerpt}}
  <hr>
</li>
{% endfor %}
</ul>

<center>Read all my blogs: <a class="readMoreBtn readBlogBtn" href="{{ site.url }}/blog">Blog &raquo</a></center>

<hr>
<center>
<strong>Follow me on:</strong>
<a class="readMoreBtn followBtnFB" href="https://www.facebook.com/fathir.irhas" title="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
<a class="readMoreBtn followBtnTwitter" href="https://twitter.com/FathirIrhas1?lang=en" title="twitter" target="_blank"><i class="fa fa-twitter"></i></a>
<a class="readMoreBtn followBtnGithub" href="https://github.com/MFathirIrhas" title="github" target="_blank"><i class="fa fa-github"></i></a>
<a class="readMoreBtn followBtnLinkedIn" href="https://id.linkedin.com/in/muhammad-fathir-irhas-05938791
" title="linkedin
" target="_blank"><i class="fa fa-linkedin"></i></a>
<a class="readMoreBtn followBtnSteam" href="http://steamcommunity.com/id/fathirirhas/" title="steam" target="_blank"><i class="fa fa-steam"></i></a>
<a class="readMoreBtn emailBtn" href="mailto:mfi12@mail.com?Subject=Hello%20again" title="mfi12@mail.com" target="_top"><i class="fa fa-envelope"></i></a>
</center>
<hr>
</body>
{% include share.html%}
<br>
<hr>
<p align="right">&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
