/*This CSS contains all button and link style*/

/*tags button*/
.tagBtn{
  background-color: #696969;
    color: white;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block; 
    font-size: 80%;
    border-radius: 5%;
  }
    
.tagBtn:hover, .tagBtn:active {
    background-color: #D3D3D3;
    text-decoration: none;
}

.readMoreBtn {
  background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 4px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.readMoreBtn1 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

.readMoreBtn1:hover {
    background-color: #008CBA;
    color: white;
    text-decoration: none;
}

.searchBtn {
    background-color: white;
    color: black;
    padding: 3px 10px;
    border: 2px solid #008CBA;
}

.searchBtn:hover {
    background-color: lightblue;
    color: white;
    text-decoration: none;
}

.readBlogBtn{
    background-color: white;
    color: black;
    border: 2px solid #CC0000;   
}
.readBlogBtn:hover{
    background-color: #CC0000;
    color: white;
    text-decoration: none;   
}

.followBtnFB {
    background-color: #3b5998;
    color: white;
    border: 2px solid #3b5998;
}
.followBtnFB:hover {
    background-color: white;
    color: #3b5998;
    text-decoration: none;
}

.followBtnTwitter{
    background-color: #4099FF;
    color: white;
    border: 2px solid #4099FF;   
}
.followBtnTwitter:hover{
    background-color: white;
    color: #4099FF;
    text-decoration: none;   
}

.followBtnGithub{
    background-color: #333333;
    color: white;
    border: 2px solid #333333;
}
.followBtnGithub:hover{
    background-color: white;
    color: #333333;
    text-decoration: none;
}

.followBtnLinkedIn{
    background-color: #0077B5;
    color: white;
    border: 2px solid #0077B5;   
}
.followBtnLinkedIn:hover{
    background-color: white;
    color: #0077B5;
    text-decoration: none;   
}

.followBtnSteam{
    background-color: #000000;
    color: white;
    border: 2px solid #000000;   
}
.followBtnSteam:hover{
    background-color: white;
    color: #000000;
    text-decoration: none;   
}

.emailBtn{
    background-color: gray;
    color: white;
    border: 2px solid gray;   
}
.emailBtn:hover{
    background-color: white;
    color: gray;
    text-decoration: none;   
}





