<!--Facebook Javescript-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.7&appId=164966023945794";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!--end facebook javascript plugin-->

<!--Google+ Share Javascript-->
<!-- <script src="https://apis.google.com/js/platform.js" async defer></script> -->
<script src="https://apis.google.com/js/platform.js" async defer></script>
<!--End Google+ share javascript-->

<style>
.fb-share-button {
   vertical-align: top;    
}

.twitter-share-button {
	vertical-align: bottom;

}

.tumblr-share-button {
	vertical-align: bottom;
	position: 
}

.g-plus {
	vertical-align: bottom;
}
</style>

<div>
<p>

<!-- <table border="0">
<tr> -->

<div style="float: left; width:100px;">
Share on: 
</div>

<!-- Facebook -->
<div style="float: left; width:65px;">
<div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a></div>
</div>

<!-- Twitter -->
<div style="float: left; width:70px;">
<div><a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false" title="Twitter">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>
</div>

<!-- tumblr -->
<div style="float: left; width:77px;">
<div><a class="tumblr-share-button" data-color="blue" data-notes="right" href="https://embed.tumblr.com/share"></a> <script>!function(d,s,id){var js,ajs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://secure.assets.tumblr.com/share-button.js";ajs.parentNode.insertBefore(js,ajs);}}(document, "script", "tumblr-js");</script></div>
</div>

<!-- google plus -->
<div style="float: left; width:63px;">
<div class="g-plus" data-action="share" data-annotation="none" data-height="23"></div>
</div>

<!-- Linkedin -->
<div style="float: left; width:70px;">
<script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
<script type="IN/Share"></script>
</div>

<!-- </tr>
</table> -->

</p>
</div>

