<!--Facebook Javescript-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.7&appId=164966023945794";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!--end facebook javascript plugin-->

<!--Google+ Share Javascript-->
<!-- <script src="https://apis.google.com/js/platform.js" async defer></script> -->
<script src="https://apis.google.com/js/platform.js" async defer></script>
<!--End Google+ share javascript-->

<style>
.shareBtn {
    /*background-color: #4CAF50; /* Green */*/
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    float: left;
}

.shareBtnFB{
  background-color: #3b5998;
  text-align: center;
  text-decoration: none;
}
.shareBtnFB:hover {
    background-color: #8b9dc3;
    text-decoration: none;
}

.shareBtnTwitter{
  background-color: #4099FF;
  text-align: center;
  text-decoration: none;
}
.shareBtnTwitter:hover{
  background-color: #50b4ff;
  text-decoration: none;
}

.shareBtnTumblr{
  background-color: #35465c;
  text-align: center;
  text-decoration: none;
}
.shareBtnTumblr:hover{
  background-color: #61758e;
  text-decoration: none;
}

.shareBtnGP{
  background-color: #dd4b39;
  text-align: center;
  text-decoration: none;
}
.shareBtnGP:hover{
  background-color: #ec8578;
  text-decoration: none;
}

.shareBtnLinkedIn{
  background-color: #0077B5;
  text-align: center;
  text-decoration: none;
}
.shareBtnLinkedIn:hover{
  background-color: #34a4de;
  text-decoration: none;
}

.shareBtnReddit{
  background-color: #FF4500;
  text-align: center;
  text-decoration: none;
}
.shareBtnReddit:hover{
  background-color: #ff9269;
  text-decoration: none;
}
</style>

<div>

<!-- <table border="0">
<tr> -->


<div style="float: left; width:100px;">
<strong>Share: </strong>
</div>


<!-- New Style Share Button -->
<a class="shareBtn shareBtnFB" href="http://www.facebook.com/share.php?u={{ site.url }}{{ page.url }}&title={{ page.title }}
" target="_blank"><i class="fa fa-facebook">Facebook</i></a>

<!-- <a class="shareBtn shareBtnTwitter" href="http://twitter.com/intent/tweet?status={{ page.title }} + {{ site.url }}{{ page.url }}" target="_blank"><i class="fa fa-twitter">Twitter</i></a> -->

<a class="shareBtn shareBtnTwitter" href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}" target="_blank"><i class="fa fa-twitter">Twitter</i></a>


<a class="shareBtn shareBtnTumblr" href="http://www.tumblr.com/share?v=3&u={{ site.url }}{{ page.url }}&t={{ page.title }}
" target="_blank"><i class="fa fa-tumblr">Tumblr</i></a>

<a class="shareBtn shareBtnGP" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" target="_blank"><i class="fa fa-google-plus">Google+</i></a>

<a class="shareBtn shareBtnLinkedIn" href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&source={{ site.url }}" target="_blank"><i class="fa fa-linkedin">LinkedIn</i></a>

<a class="shareBtn shareBtnReddit" href="http://www.reddit.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title }}" target="_blank"><i class="fa fa-reddit">Reddit</i></a>


<!-- Facebook -->
<!-- <div style="float: left; width:65px;">
<div class="fb-share-button" data-href="{{ site.url }}{{ page.url }}" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a></div>
</div> -->

<!-- Twitter -->
<!-- <div style="float: left; width:70px;">
<div><a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false" title="Twitter">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>
</div> -->

<!-- tumblr -->
<!-- <div style="float: left; width:77px;">
<div><a class="tumblr-share-button" data-color="blue" data-notes="right" href="https://embed.tumblr.com/share"></a> <script>!function(d,s,id){var js,ajs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://secure.assets.tumblr.com/share-button.js";ajs.parentNode.insertBefore(js,ajs);}}(document, "script", "tumblr-js");</script></div>
</div> -->

<!-- google plus -->
<!-- <div style="float: left; width:63px;">
<div class="g-plus" data-action="share" data-annotation="none" data-height="23"></div>
</div> -->

<!-- Linkedin -->
<!-- <div style="float: left; width:70px;">
<script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
<script type="IN/Share"></script>
</div> -->

<!-- </tr>
</table> -->


</div>

